<div class="grid grid-cols-5 max-w-screen-2xl bg-white p-4 gap-2 font-poppins">
  <div class="col-span-5">

    <div class="grid grid-cols-3 border border-b-0 border-gray-400 p-4 gap-2">

      <div class="col-span-3">
        <h1
          class="font-acme flex justify-center py-5 items-center text-center text-4xl font-bold capitalize text-gray-600"
        >
          GROSS PROFIT REPORT
        </h1>
        <div>
          <img
            src="https://media.istockphoto.com/id/1141493908/photo/waitress-swiping-customers-bank-card-on-pos-terminal-at-restaurant.jpg?s=612x612&w=0&k=20&c=HH9fgGnN2wwAAy7l4ACy1yVXp6bBNFnZX6ufySI5-q8="
            alt="Logo"
            class="h-16 w-16 bg-cover object-fill"
          />
        </div>
        <div class="space-y-2 mt-3">
          <p class="text-xl font-bold text-gray-400">Viral Mart</p>
          <p class="text-xs text-gray-400">123 Main St, Jaffna.</p>
          <p class="text-xs text-gray-400">Phone: (076) 456-7890</p>
          <p class="text-xs text-gray-400">
            Email: viralmart@gmail.com
          </p>
          <div>
            <h1 class="text-xs text-gray-400">Sri Lanka.</h1>
          </div>
        </div>
      </div>

    </div>

    <div class="border border-gray-400 px-4 py-0 border-t-0">
      <table
        class="w-full text-left border border-separate border-slate-200"
        cellSpacing="0"
      >
        <tbody>
          <tr>
            <th
              scope="col"
              class="hidden w-56 h-8 px-6 border text-sm font-medium py-3 border-gray-200 sm:table-cell first:border-l-0 text-slate-700 bg-white"
            >
              Report Name
            </th>
            <th
              scope="col"
              class="hidden h-8 px-6 border text-sm font-medium py-3 border-gray-200 sm:table-cell first:border-l-0 text-slate-700 bg-white"
            >
              {{reportName}}
            </th>
          </tr>
          <tr>
            <th
              scope="col"
              class="hidden w-56 h-8 px-6 border text-sm font-medium py-3 border-gray-200 sm:table-cell first:border-l-0 text-slate-700 bg-white"
            >
              Start Date
            </th>
            <th
              scope="col"
              class="hidden h-8 px-6 border text-sm font-medium py-3 border-gray-200 sm:table-cell first:border-l-0 text-slate-700 bg-white"
            >
              {{startDate}}
            </th>
          </tr>
          <tr>
            <th
              scope="col"
              class="hidden w-56 h-8 px-6 border text-sm font-medium py-3 border-gray-200 sm:table-cell first:border-l-0 text-slate-700 bg-white"
            >
              End Date
            </th>
            <th
              scope="col"
              class="hidden h-8 px-6 border text-sm font-medium py-3 border-gray-200 sm:table-cell first:border-l-0 text-slate-700 bg-white"
            >
              {{endDate}}
            </th>
          </tr>
          <tr>
            <th
              scope="col"
              class="hidden w-56 h-8 px-6 border text-sm font-medium py-3 border-gray-200 sm:table-cell first:border-l-0 text-slate-700 bg-white"
            >
              Total No of Purchases
            </th>
            <th
              scope="col"
              class="hidden h-8 px-6 border text-sm font-medium py-3 border-gray-200 sm:table-cell first:border-l-0 text-slate-700 bg-white"
            >
              {{totalPurchases}}
            </th>
          </tr>
          <tr>
            <th
              scope="col"
              class="hidden w-56 h-8 px-6 border text-sm font-medium py-3 border-gray-200 sm:table-cell first:border-l-0 text-slate-700 bg-white"
            >
              Total COGS
            </th>
            <th
              scope="col"
              class="hidden h-8 px-6 border text-sm font-medium py-3 border-gray-200 sm:table-cell first:border-l-0 text-slate-700 bg-white"
            >
              {{totalCOGS}}
            </th>
          </tr>
          <tr>
            <th
              scope="col"
              class="hidden w-56 h-8 px-6 border text-sm font-medium py-3 border-gray-200 sm:table-cell first:border-l-0 text-slate-700 bg-white"
            >
              Total No of Sales
            </th>
            <th
              scope="col"
              class="hidden h-8 px-6 border text-sm font-medium py-3 border-gray-200 sm:table-cell first:border-l-0 text-slate-700 bg-white"
            >
              {{totalSales}}
            </th>
          </tr>
          <tr>
            <th
              scope="col"
              class="hidden w-56 h-8 px-6 border text-sm font-medium py-3 border-gray-200 sm:table-cell first:border-l-0 text-slate-700 bg-white"
            >
              Total Revenue
            </th>
            <th
              scope="col"
              class="hidden h-8 px-6 border text-sm font-medium py-3 border-gray-200 sm:table-cell first:border-l-0 text-slate-700 bg-white"
            >
              {{totalRevenue}}
            </th>
          </tr>
          <tr>
            <th
              scope="col"
              class="hidden w-56 h-8 px-6 border text-sm font-medium py-3 border-gray-200 sm:table-cell first:border-l-0 text-slate-700 bg-white"
            >
              Gross Profit
            </th>
            <th
              scope="col"
              class="hidden h-8 px-6 border text-sm font-medium py-3 border-gray-200 sm:table-cell first:border-l-0 text-slate-700 bg-white"
            >
              {{grossProfit}}
            </th>
          </tr>
          <tr>
            <th
              scope="col"
              class="hidden w-56 h-8 px-6 border text-sm font-medium py-3 border-gray-200 sm:table-cell first:border-l-0 text-slate-700 bg-white"
            >
              Total No of Sales
            </th>
            <th
              scope="col"
              class="hidden h-8 px-6 border text-sm font-medium py-3 border-gray-200 sm:table-cell first:border-l-0 text-slate-700 bg-white"
            >
              {{totalSales}}
            </th>
          </tr>
        </tbody>
      </table>
      <span
        class="text-2xl flex justify-center items-center text-center my-12"
      >Thank You!.</span>
    </div>

  </div>
</div>