<div class="report-container bg-slate-500 ">
  <div class="report-header">
    <h1>Gross Profit Report</h1>
  </div>
  <div class="report-section">
    <span class="report-label">Report Name:</span>
    <span class="report-value">{{reportName}}</span>
  </div>
  <div class="report-section">
    <span class="report-label">Start Date:</span>
    <span class="report-value">{{startDate}}</span>
  </div>
  <div class="report-section">
    <span class="report-label">End Date:</span>
    <span class="report-value">{{endDate}}</span>
  </div>
  <div class="report-section">
    <span class="report-label">Total No of Purchases:</span>
    <span class="report-value">{{totalPurchases}}</span>
  </div>
  <div class="report-section">
    <span class="report-label">Total COGS:</span>
    <span class="report-value">Rs.{{totalCOGS}}</span>
  </div>
  <div class="report-section">
    <span class="report-label">Total No of Sales:</span>
    <span class="report-value">{{totalSales}}</span>
  </div>
  <div class="report-section">
    <span class="report-label">Total Revenue:</span>
    <span class="report-value">Rs.{{totalRevenue}}</span>
  </div>
  <div class="report-section">
    <span class="report-label">Gross Profit:</span>
    <span class="report-value">Rs.{{grossProfit}}</span>
  </div>
</div>
