{{!-- <div class="report-container">
  <div class="flex justify-center items-center">
    <h1>Gross Profit Report</h1>
  </div>
  <div class="space-y-4">
    <div class="flex items-center">
      <span class="font-medium text-green-600 w-1/3">Report Name:</span>
      <span class="text-gray-800">{{reportName}}</span>
    </div>
    <div class="flex items-center">
      <span class="font-medium text-gray-600 w-1/3">Start Date:</span>
      <span class="text-gray-800">{{startDate}}</span>
    </div>
    <div class="flex items-center">
      <span class="font-medium text-gray-600 w-1/3">End Date:</span>
      <span class="text-gray-800">{{endDate}}</span>
    </div>
    <div class="flex items-center">
      <span class="font-medium text-gray-600 w-1/3">Total No of Purchases:</span>
      <span class="text-gray-800">{{totalPurchases}}</span>
    </div>
    <div class="flex items-center">
      <span class="font-medium text-gray-600 w-1/3">Total COGS:</span>
      <span class="text-gray-800">Rs.{{totalCOGS}}</span>
    </div>
    <div class="flex items-center">
      <span class="font-medium text-gray-600 w-1/3">Total No of Sales:</span>
      <span class="text-gray-800">{{totalSales}}</span>
    </div>
    <div class="flex items-center">
      <span class="font-medium text-gray-600 w-1/3">Total Revenue:</span>
      <span class="text-gray-800">Rs.{{totalRevenue}}</span>
    </div>
    <div class="flex items-center">
      <span class="font-medium text-gray-600 w-1/3">Gross Profit:</span>
      <span class="text-gray-800">Rs.{{grossProfit}}</span>
    </div>
  </div>
</div> --}}

<div class="min-h-screen bg-gray-200 z-0 lg:h-[100%] py-12 mx-auto lg:px-16 font-poppins cursor-pointer">
        <div class="grid grid-cols-5 gap-2 font-poppins">
          <div class="col-span-3 bg-white p-4">
            <div class="grid grid-cols-3 border border-b-0 border-gray-400 p-4 gap-2">
              <div class="col-span-2">
                <div>
                  <img
                    src={Logo}
                    alt="Logo"
                    class="h-16 w-16 bg-cover object-fill"
                  />
                </div>
                <div class="space-y-2 mt-3">
                  <p class="text-xl font-bold text-gray-400">Viral Mart</p>
                  <p class="text-xs text-gray-400">123 Main St, Jaffna.</p>
                  <p class="text-xs text-gray-400">Phone: (076) 456-7890</p>
                  <p class="text-xs text-gray-400">
                    Email: viralmart@gmail.com
                  </p>
                  <div>
                    <h1 class="text-xs text-gray-400">Sri Lanka.</h1>
                  </div>
                </div>
              </div>
              <div class="col-span-1">
                <h1 class=" font-acme text-center text-4xl font-bold capitalize text-gray-600">
                  INVOICE
                </h1>
               
              </div>
            </div>
            <div class="grid grid-cols-5 border border-y-0 border-gray-400 p-4 gap-2">
              <div class="col-span-4">
                <div>
                  <p class="text-sm text-gray-600 font-medium">Bill To: </p>
                  <div class="flex gap-2">
                   
                  </div>
                  <p class="text-xs text-gray-400">Sri Lanka.</p>
                </div>
              </div>
              <div class="col-span-1"></div>
            </div>

            <div class="border border-gray-400 px-4 py-0 border-y-0">
              <table
                class="w-full text-left border border-separate border-slate-200"
                cellSpacing="0"
              >
                <tbody>
                  <tr>
                    <th
                      scope="col"
                      class="hidden w-56 h-8 px-6 text-sm font-medium border-l sm:table-cell first:border-l-0 stroke-slate-700 text-slate-700 bg-slate-100"
                    >
                      Description of Goods
                    </th>
                    <th
                      scope="col"
                      class="hidden h-8 px-6 text-sm font-medium border-l sm:table-cell first:border-l-0 stroke-slate-700 text-slate-700 bg-slate-100"
                    >
                      Qt
                    </th>
                    <th
                      scope="col"
                      class="hidden h-8 px-6 text-sm font-medium border-l sm:table-cell first:border-l-0 stroke-slate-700 text-slate-700 bg-slate-100"
                    >
                      Rate
                    </th>
                    <th
                      scope="col"
                      class="hidden h-8 px-6 text-sm font-medium border-l sm:table-cell first:border-l-0 stroke-slate-700 text-slate-700 bg-slate-100"
                    >
                      Amount
                    </th>
                    <th
                      scope="col"
                      class="hidden h-8 text-sm font-medium border-l sm:table-cell first:border-l-0 stroke-slate-700 text-slate-700 bg-slate-100"
                    ></th>
                  </tr>
                 
                </tbody>
              </table>{" "}
            </div>

            <div class="grid grid-cols-4 border border-t-0 border-gray-400 p-4 gap-2">
              
              <div class="col-span-2 flex justify-center">
                <div class=" space-y-2">
                  <div class="flex">
                    <span class="text-xs w-20 mt-1">Total:</span>
                  </div>
                   <div class="flex">
                    <span class="text-xs w-20 mt-2">Paid:</span>
                    <h1 class="text-sm">
                     
                      </div>
                    </h1>
                  </div>
                  <div class="flex">
                    <span class="text-xs w-20">Balance:</span>
                    <h1 class="text-sm">Rs.72,000.00</h1>
                  </div> 
                </div>
              </div>
            </div>
            <div class="grid grid-cols-4 border border-t-0 border-gray-400 p-4 gap-2">
              <div class="col-span-2">
                <span class="text-sm">Thank you for your purchase</span>
             
            </div>
          </div>
          <div class="col-span-2"></div>
        </div>
</div> 
